@page
@model RegisterPKMModel
@{
    Layout = null;

    string loginUrl = PKM.RouteUrl + "/login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Registrasi PesapaKawan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/logo-dinas.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/register/pkm/css/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/register/pkm/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/register/pkm/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/register/pkm/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/register/pkm/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/register/pkm/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/assets/register/pkm/css/custom.css">
</head>
<body style="background-color: #fff;">
    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('/assets/images/bg-images/people.png');"></div>
            <div class="wrap-login100 p-l-50 p-r-50 p-t-50 p-b-50">
                <form class="login100-form validate-form" asp-route-returnUrl="@Model.ReturnUrl" method="POST">
                    <span class="login100-form-title p-b-40">
                    Registrasi
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Nama perusahaan wajib diisi">
                        <span class="label-input100">Nama Perusahaan/Kegiatan Usaha</span>
                        <input class="input100" asp-for="Input.FullName" placeholder="Nama perusahaan...">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Masukkan email yang valid">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="email" asp-for="Input.Email" placeholder="Alamat Email..." autocomplete="off" />
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Jenis Usaha wajib dipilih">
                        <span class="label-input100">Jenis Usaha</span>
                        <div class="contact100-form-checkbox mt-3">
                            <input class="input-checkbox100" id="chkAngkut" type="checkbox" name="jasa-angkut">
                            <label class="label-checkbox100" for="chkAngkut">
                                <span class="txt1">
                                    Jasa Pengangkutan                                   
                                </span>
                            </label>
                        </div>
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="chkOlah" type="checkbox" name="jasa-olah">
                            <label class="label-checkbox100" for="chkOlah">
                                <span class="txt1">
                                    Jasa Pengolahan                                   
                                </span>
                            </label>
                        </div>
                        <div class="contact100-form-checkbox mb-3">
                            <input class="input-checkbox100" id="chkUsaha" type="checkbox" name="usaha-kegiatan">
                            <label class="label-checkbox100" for="chkUsaha">
                                <span class="txt1">
                                    Usaha Kegiatan                                   
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password wajib diisi">
                        <span class="label-input100">Password</span>
                        <input class="input100" asp-for="Input.Password" placeholder="*************">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Harap konfirmasi password">
                        <span class="label-input100">Konfirmasi Password</span>
                        <input class="input100" asp-for="Input.ConfirmPassword" placeholder="*************">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="flex-m w-full p-b-33">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                <span class="txt1">
                                    Saya setuju dengan
                                    <a href="#" class="txt2 hov1">
                                        Syarat &amp; Ketentuan yang berlaku
                                    </a>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Register
                            </button>
                        </div>
                        <a href="@loginUrl" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                            Login
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/assets/register/pkm/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/register/pkm/js/animsition.min.js"></script>
    <script src="~/assets/register/pkm/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/register/pkm/js/main.js"></script>
</body>
</html>